[app]
	timezone = America/Los_Angeles
	host = bbb.edoceo.com
	user = root
	pass = root

[bbb]
; The BBB API
	api_uri = "http://bbb.edoceo.com/bigbluebutton/api/"
	api_key = "ed0ce0123334444555556666667777777"
