header {
    background:#30406b;
    color:#fff;
    font-weight:700;
    font-size:24px;
    height:32px;
    line-height:32px;
}
header li:hover {
	background:#dbebf6;
	color:#30406b;
}
header nav ul.h li {
	border-right:2px solid #ccc;
	padding:0 8px;
}

tr:hover {
    background:#ccc;
}

#start-form {
	border:4px dashed #e0e0e0;
	background:#e0e0e0;
	padding:8px;
	position:absolute;
	right:0px;
}
#start-form h3 {
	margin:0px;
}

#start-form button {
	border-radius:0 8px 8px 0;
	display:inline;
	margin:0;
	min-width:96px;
	padding:6px;
	width:96px;
}

#start-form input {
	border-radius:8px;
	display:inline;
	margin:0;
	padding:6px;
	width:256px;
}
#start-form input[name="m"] {
	border-radius:8px 0 0 8px;
}

#start-opts {
	display:none;
}
#start-form:hover {
	border:4px solid #30406b;
}
#start-form:hover #start-opts {
	display:block;

}

/* Video Player */
#video-wrap {
	background:#101010;
}

#video-wrap h1 {
	background:#303030;
	color:#f0f0f0;
	text-indent:1em;
}

#video-wrap .video-show {
	border-left:4px solid #303030;
	border-bottom:4px solid #303030;
	border-right:4px solid #303030;
	height: 600px;
	margin:0 auto;
	padding:0;
	width:800px;
}
#video-wrap .video-show video {
	height:100%;
	width:100%;
}